/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/7.css/dist/7.css";

html {
  background-image: url("/wallpaper.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

html, body {
  margin: 0;
  height: 100%;

  app-root {
    //position: fixed;
    //top: 16px;
    //bottom: 16px;
    //left: 16px;
    //right: 16px;
  }
}

.seven-hover {
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;

  &:hover {
    background: (var(--item-hover-background));
    border-color: #b8d6fb;
  }

  &.selected {
    background: (var(--item-hover-background));
    border-color: darken(#b8d6fb, 10%);
  }
}

.selected {
  & > .seven-hover {
    background: (var(--item-hover-background));
    border-color: darken(#b8d6fb, 10%);
  }
}
