<div class="h-full bg-white border-r-[1px] p-3">
  <div class="title mb-3 text-xl font-bold">
    <xpi-icon name="favorites" pack="xp" size="28"></xpi-icon>
    Favourites
  </div>
  <ul>
    <li (click)="folderSelection.next(d)" class="seven-hover py-0.5 px-1" *ngFor="let d of commonFolders" [class.selected]="selectedFolder?.basePath === d.basePath && selectedFolder?.filename === d.filename">
      <xpi-icon [name]="getIconName(d)" [pack]="getIconPack(d)" size="24"></xpi-icon>
      &nbsp;{{d.filename || d.basePath}}
    </li>
  </ul>
</div>
